.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;

  background-color: #f7f7f7;
}

.box {
	background-color: white;
	box-shadow: 0px 0px 2px grey;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.roxo {
	font-size: 1em !important;
	font-weight: bold !important;
	color: #6c41d7;
}

form {
	text-align: left;
}

label {
	color: #828282;
	font-weight: lighter;
	font-size: 0.9em;
}

.form-horizontal .form-group {
	margin:0;
}

.input-group {
	width:100%;
	margin-bottom: 20px;
}

.register-button {
	color:white;
	background-color: #6c41d7;
	font-weight: bolder;
	border: none;
	border-radius: 0;
	margin-top:20px;
}

.register-button:hover {
	background-color: #3c2081;
}

.check-1, .check-2, .check-3 {
	background-color: #ededed;
	height: 10px;
}

.sobe {
	margin-top:-15px;
	margin-bottom:15px;
}

.condition p{
	font-size:0.9em;
	color: #828282;
	margin-bottom:0;
}

.ping {
	font-size: 1.3em;
	color: #ededed;
}
.row.short-gutter {
  margin-left: 3px;
  margin-right: 3px;
}

.row.short-gutter [class*='col-']:not(:first-child),
.row.short-gutter [class*='col-']:not(:last-child) {
  padding-right: 3px;
  padding-left: 3px;
}

.row.short-gutter [class*='col-']:first-child,
.row.short-gutter [class*='col-']:last-child {
  padding-right: 0px;
  padding-left: 0px;
}